{% extends 'base.html' %}

{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <h1>
          List Peminjaman
        </h1>
        <a class="btn btn-primary" href="{% url 'form_peminjaman'%}">
          Create Peminjaman
        </a>
    </div>

    <div class="row">
      <div class="md-form mb-4">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <div class="dropdown ml-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Nomor</a>
          <a class="dropdown-item" href="#">Sepeda</a>
          <a class="dropdown-item" href="#">Stasiun</a>
        </div>
      </div>
    </div>

  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" href="#">No Kartu Anggota</a>
          <th scope="col" href="#">Sepeda</th>
          <th scope="col" href="#">Stasiun</th>
          <th scope="col" href="#">Waktu Kembali</th>
          <th scope="col" href="#">Biaya</th>
          <th scope="col" href="#">Denda</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
          <tbody>
          {% for p in peminjaman %}
          <tr>
            <th scope="row">{{ p.no_kartu_anggota }}</th>
            <td>{{ p.nomor_sepeda }} - {{ p.merk }}</td>
            <td>{{ p.id_stasiun }} - {{ p.nama_stasiun }}</td>
            <td>{{ p.datetime_kembali }}</td>
            <td>{{ p.biaya }}</td>
            <td>{{ p.denda }}</td>
            <td>
              <span>
                <a class="btn btn-primary" href="edit/{{ voucher.id }}">Kembalikan</a>
              </span>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>

        <nav aria-label="Page navigation example">
         <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}


