{% extends 'base.html' %}

{% load static %}

{% block style %}

  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <h1>
          Add Peminjaman
        </h1>
    </div>
    <div class="div">
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label for="usr">Nama Stasiun:</label>
              <select class="form-control" id="exampleFormControlSelect1">
                {% for stasiun in stasiuns %}
                  <option>{{ stasiun.nama }}</option>
                {% endfor %}
              </select>
            </div>
            <span>
              <a class="btn btn-primary" href="{% url 'sepeda:index'%}">Save</a>
            </span>  
            <span>
              <button class="btn btn-danger">Delete</button>
            </span>  
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
{% endblock %}
