<!-- Footer -->
<footer class="page-footer font-small bluwe">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href=""> TKBasdat.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
