<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#">Rent A Bike!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/sepeda">Sepeda <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stasiun">Stasiun</a>
      </li>
    </ul>

    {% if user.is_authenticated %}
    <div class="ml-auto">
      <span class="text-light mr-1">Logged in as {{ request.user.nama }}</span>
      <a href="{% url 'logout' %}" id="logout-button" class="btn btn-light" type="button">Log out</a>
    </div>
    {% else %}
    <div class="ml-auto">
      <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-light mx-0" type="button">Sign in</a>
    </div>
    {% endif %}
  </div>
</nav>
