@font-face {
	src: url(/static/fonts/Lato-Regular.ttf);
	font-family: lato;
}

.card {
	width: 18rem;
	border-color: #ACEC93;
	border-width: 3px;
	padding: 10px;
}

.judul {
	font-family:lato;
}

.navbar { 
    background-color: #161616;
}