{% extends 'gauth_base.html' %}

{% block page %}
  <div class="container">
    <div class="mt-5 text-monospace">
      <h1>ShareBike</h1>
      <p>Reduce urban polution with environmental friendly solutions</p>
    </div>
    <div class="mt-5 mb-2">
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
          <p>Please login to use this web app.</p>
          {% endif %}
      {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_ktp">KTP</label>
          {{ form.ktp }}
        </div>
        <div class="form-group">
          <label for="id_email">Email</label>
          {{ form.email }}
        </div>
        <input type="hidden" name="next" value="{{ next }}">

        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
{% endblock %}
