{% extends 'gauth_base.html' %}

{% block page %}
  <div class="container">
    <div class="mt-5 text-monospace">
      <h1>ShareBike</h1>
      <p>Reduce urban polution with environmental friendly solutions</p>
    </div>
    <div class="mt-5 mb-2">
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      <form style="display: block;" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_ktp">No KTP</label>
          {{ form.ktp }}
        </div>
        <div class="form-group">
          <label for="id_nama">Nama Lengkap</label>
          {{ form.nama }}
        </div>
        <div class="form-group">
          <label for="id_email">Email</label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label for="id_tgl_lahir">Tanggal Lahir</label>
          {{ form.tgl_lahir }}
        </div>
        <div class="form-group">
          <label for="id_no_telp">No Telepon</label>
          {{ form.no_telp }}
        </div>
        <div class="form-group">
          <label for="id_alamat">Alamat</label>
          {{ form.alamat }}
        </div>
        <div class="form-group">
          <label for="id_role">Role</label>
          {{ form.role }}
        </div>

        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
{% endblock %}
