{% extends 'base.html' %}

{% load static %}

{% block style %}

  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <h1>
          Assignments
        </h1>
        <a class="btn btn-primary" href="add">Create</a>
    </div>
    <div class="div">
      <div class="row">
          <div class="col-md-12">
          <div class="col-md-3">
              <label for="exampleFormControlSelect1">Sort By:</label>
              <select class="form-control">
                  <option>Name</option>
                  <option>ID</option>
                  <option>No</option>
              </select>
              <label for="exampleFormControlSelect1">Filter</label>
              <input class="form-control" type="text" placeholder="Filter by..">
          </div>
              <br>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Petugas</th>
                  <th scope="col">Tanggal Mulai</th>
                  <th scope="col">Tanggal Akhir</th>
                  <th scope="col">Stasiun</th>
                  <th scope="col">Action</th>
                </tr>
        {% for assignment in assignments %}
              </thead>
                <tbody>
                <tr>
                  <td>{{ assignment.ktp }} - {{ assignment.nama }}</td>
                  <td>{{ assignment.start_datetime }}</td>
                  <td>{{ assignment.end_datetime }}</td>
                  <td>{{ assignment.stasiun }}</td>
                  <td>
                    <span>
                      <a class="btn btn-primary" href="edit/{{ assignment.ktp }}-{{ assignment.id_stasiun }}">Edit</a>
                    </span>
                    <span>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Delete
                        </button>
                    </span>
                  </td>
                </tr>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Apakah anda yakin ingin mengahpus penugasan ini?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" href="delete/{{ assignment.ktp }}-{{ assignment.id_stasiun }}">Confirm</a>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
                </tbody>
            </table>
          <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
  </div>
{% endblock %}