{% extends 'base.html' %}

{% load static %}

{% block style %}

  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
   <div class="container">
    <div class="jumbotron">
        <h1>
          Update Assignments
        </h1>
    </div>
    <div class="div">
      <div class="row">
          <div class="col-md-12">
              <label for="exampleFormControlSelect1">Petugas</label>
              <form action="/penugasan/update/{{ assignments.0.ktp }}-{{ assignments.0.id_stasiun }}" method="post">
                  {% csrf_token %}
                  <select class="form-control" name="petugas">
                      {% for officer in officers %}
                          {% if forloop.parentloop.first %}
                          <option selected value="{{ officer.ktp }}">{{ officer.nama }}</option>
                          {% else %}
                              <option value="{{ officer.ktp }}">{{ officer.nama }}</option>
                          {% endif %}
                      {% endfor %} }
                  </select>
                  <br>
                  <input class="form-control" type="date" placeholder="Tanggal Mulai" name="tgl_mulai">
                  <br>
                  <input class="form-control" type="date" placeholder="Tanggal Selesai" name="tgl_akhir">
                  <label for="exampleFormControlSelect1">Stasiun</label>
                  <select class="form-control" name="stasiun">
                          {% for station in stations %}
                            {% if forloop.parentloop.first %}
                              <option selected value={{ station.id_stasiun }}> {{ station.nama }}</option>
                            {% else %}
                              <option value={{ station.id_stasiun }}> {{ station.nama }}</option>
                            {% endif %}
                          {% endfor %}
                  </select>
                  <br>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}