{% extends 'base.html' %}

{% load static %}

{% block style %}

  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
 <div class="container">
    <div class="jumbotron">
        <h1>
          Update Events
        </h1>
    </div>
    <div class="div">
      <div class="row">
          <div class="col-md-12">
              <form action="/acara/update/{{ events.0.id_acara }}" method="post">
                  {% csrf_token %}
                  <input class="form-control" type="text" placeholder="Judul" name="judul" value="{{ events.0.judul }}">
                  <br>
                  <input class="form-control" type="text" placeholder="Deskripsi"
                         name="deskripsi" value="{{ events.0.deskripsi }}">
                  <label for="exampleFormControlSelect1">Gratis</label>
                  <select class="form-control" name="is_free">
                      <option>Ya</option>
                      <option>Tidak</option>
                  </select>
                  <br>
                  <label for="exampleFormControlSelect1">Tanggal Mulai</label>
                  <input class="form-control" type="date" placeholder="Tanggal Mulai"
                         name="tgl_mulai" value="{{ events.0.tgl_mulai }}">
                  <br>
                  <label for="exampleFormControlSelect1">Tanggal Selesai</label>
                  <input class="form-control" type="date" placeholder="Tanggal Selesai"
                         name="tgl_akhir" value="{{ events.0.tgl_akhir }}">
                  <br>
                  <label for="exampleFormControlSelect1">Stasiun</label>
                  <select class="form-control" name="stasiun">
                      {% for station in stations %}
                        {% if forloop.parentloop.first %}
                          <option selected value={{ station.id_stasiun }}> {{ station.nama }}</option>
                        {% else %}
                          <option value={{ station.id_stasiun }}> {{ station.nama }}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                  <br>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}