{% extends 'base.html' %}

{% load static %}

{% block style %}

  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <h1>
          Edit Stasiun
        </h1>
    </div>
    <div class="div">
      <div class="row">
        <div class="col-md-12">
          <form method="POST" action="/stasiun/update/{{ stasiun.0.id_stasiun }}">
            {% csrf_token %}
            <div class="form-group">
              <label for="usr">nama:</label>
              <input type="text" class="form-control" id="usr" name="nama" value="{{ stasiun.0.nama }}">
            </div>
            <div class="form-group">
              <label for="usr">alamat:</label>
              <input type="text" class="form-control" id="usr" name="alamat" value="{{ stasiun.0.alamat }}">
            </div>
            <div class="form-group">
              <label for="usr">lat:</label>
              <input type="text" class="form-control" id="usr" name="lat" value="{{ stasiun.0.lat }}">
            </div>
            <div class="form-group">
              <label for="usr">long:</label>
              <input type="text" class="form-control" id="usr" name="long" value="{{ stasiun.0.long }}">
            </div>
            <span>
              <button class="btn btn-primary">Submit</button>
            </span>
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
