{% extends 'base.html' %}

{% load static %}

{% block style %}

  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <h1>
          List station
        </h1>
        <a class="btn btn-primary" href="create">
          Create station
        </a>
    </div>

    <div class="row">
      <div class="md-form mb-4">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <div class="dropdown ml-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Name</a>
          <a class="dropdown-item" href="#">Status</a>
          <a class="dropdown-item" href="#">Jenis</a>
        </div>
      </div>
    </div>

  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama</th>
          <th scope="col">Alamat</th>
          <th scope="col">Latidue</th>
          <th scope="col">Longitude</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
          <tbody>
          {% for station in stations %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ station.nama }}</td>
            <td>{{ station.alamat }}</td>
            <td>{{ station.lat }}</td>
            <td>{{ station.long }}</td>
            <td>
              <span>
                <a class="btn btn-primary" href="/stasiun/edit/{{ station.id_stasiun }}">Edit</a>
              </span>
              <span>
                <a class="btn btn-danger" href="/stasiun/delete/{{ station.id_stasiun }}">Delete</a>
              </span>

            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>

        <nav aria-label="Page navigation example">
         <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Apakah yakin ingin mengahpus stasiun ini?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
