{% extends 'base.html' %}

{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <h1>
          List Voucher
        </h1>
        <a class="btn btn-primary" href="{% url 'form_voucher'%}">
          Create Voucher
        </a>
    </div>

    <div class="row">
      <div class="md-form mb-4">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <div class="dropdown ml-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Nama</a>
          <a class="dropdown-item" href="#">Kategori</a>
          <a class="dropdown-item" href="#">Nilai Poin</a>
        </div>
      </div>
    </div>

  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" href="#">Id</a>
          <th scope="col" href="#">Nama</th>
          <th scope="col" href="#">Kategori</th>
          <th scope="col" href="#">Nilai Poin</th>
          <th scope="col" href="#">Deskripsi</th>
          <th scope="col" href="#">Diklaim oleh</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
          <tbody>
          {% for voucher in vouchers %}
          <tr>
            <th scope="row">{{ voucher.id }}</th>
            <td>{{ voucher.name }}</td>
            <td>{{ voucher.kategori }}</td>
            <td>{{ voucher.nilai_point }}</td>
            <td>{{ voucher.deskripsi }}</td>
            <td>{{ voucher.no_kartu_anggota }} - {{ voucher.pengklaim }}</td>
            <td>
              <span>
                <a class="btn btn-primary" href="edit/{{ voucher.id }}">Edit</a>
              </span>
              <span>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                  Delete
                  </button>
              </span>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>

        <nav aria-label="Page navigation example">
         <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Apakah anda yakin ingin menghapus voucher ini?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Confirm</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}