{% extends 'base.html' %}

{% load static %}

{% block style %}

  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <h1>
          Edit Voucher
        </h1>
    </div>
    {% for voucher in vouchers %}
    <div class="div">
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label for="usr">Nama:</label>
              <input type="text" class="form-control" id="usr" value="Voucher {{ voucher.nama }}">
            </div>
            <div class="form-group">
              <label for="usr">Kategori:</label>
              <input type="text" class="form-control" id="usr" value="{{ voucher.kategori }}">
            </div>
            <div class="form-group">
              <label for="usr">Nilai Poin:</label>
              <input type="text" class="form-control" id="usr" value="{{ voucher.nilai_point }}">
            </div>
            <div class="form-group">
              <label for="usr">Deskripsi:</label>
              <input type="text" class="form-control" id="usr" value="{{ voucher.deskripsi }}">
            </div>
            <span>
              <button class="btn btn-primary">Save</button>
            </span>  
            <span>
              <button class="btn btn-danger">Delete</button>
            </span>  
        </div>
      </div>
    </div>
    {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
