{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>
      List Feature
      </h1>
    </div>
    <li><a href="/sepeda">Sepeda</a></li>
    <li><a href="/stasiun">Stasiun</a></li>
  </div>
{% endblock %}
