{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="mt-5 mb-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id Laporan</th>
            <th scope="col">Tanggal Pinjam</th>
            <th scope="col">Anggota</th>
            <th scope="col">Denda</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ report.id_laporan }}</td>
            <td>{{ report.datetime_pinjam }}</td>
            <td>{{ report.peminjaman.anggota }}</td>
            <td>{{ report.peminjaman.denda }}</td>
            <td>{{ report.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
