{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="mt-5 mb-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Waktu</th>
            <th scope="col">Jenis</th>
            <th scope="col">Nominal</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ transaction.date_time }}</td>
            <td>{{ transaction.jenis }}</td>
            <td>{{ transaction.nominal }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
