{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="mt-5 mb-2">
      {% if form.errors %}
      <p>Nominal yang Anda masukkan tidak tepat. Mohon, coba lagi.</p>
      {% endif %}

      <form method="post" action="{% url 'topup' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_nominal">Nominal</label>
          {{ form.nominal }}
        </div>
        <button type="submit" class="btn btn-primary">Topup</button>
      </form>
    </div>
  </div>
{% endblock %}
