{% extends 'base.html' %}

{% load static %}

{% block style %}

  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
        <h1>
          Add Sepeda
        </h1>
    </div>
    <div class="div">
      <div class="row">
        <div class="col-md-12">
          <form action="/sepeda/store/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="usr">merk:</label>
              <input type="text" class="form-control" name="merk">
            </div>
            <div class="form-group">
              <label for="usr">jenis:</label>
              <input type="text" class="form-control" name="jenis">
            </div>
            <div class="form-group">
              <label for="usr">status:</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect01" name="status">
                  <option selected value="1">Tersedia</option>
                  <option value="0">Tidak Tersedia</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="usr">stasiun:</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect01" name="stasiun">
                  {% for station in stations %}
                    {% if forloop.parentloop.first %}
                      <option selected value={{ station.id_stasiun }}> {{ station.nama }}</option>
                    {% else %}
                      <option value={{ station.id_stasiun }}> {{ station.nama }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="usr">penyumbang:</label>
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect01" name="penyumbang">
                  {% for anggota in anggotas %}
                    {% if forloop.parentloop.first %}
                      <option selected value={{ anggota.no_kartu }}> {{ anggota.nama }}</option>
                    {% else %}
                      <option value={{ anggota.no_kartu }}> {{ anggota.nama }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <span>
              <button class="btn btn-primary" type="submit">Save</button>
            </span>
            </form>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
{% endblock %}
