{% extends 'base.html' %} {% load static %} {% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />

{% endblock %} {% block content %}
<div class="container">
  <div class="jumbotron"><h1>Edit Sepeda</h1></div>
  <div class="div">
    <div class="row">
      <div class="col-md-12">
        <form action="/sepeda/update/{{ sepeda.0.nomor }}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="usr">merk:</label>
          <input
            type="text"
            class="form-control"
            id="usr"
            value="{{ sepeda.0.merk }}"
            name="merk"
          />
        </div>
        <div class="form-group">
          <label for="usr">jenis:</label>
          <input
            type="text"
            class="form-control"
            id="usr"
            value="{{ sepeda.0.jenis }}"
            name="jenis"
          />
        </div>
        <div class="form-group">
          <label for="usr">status:</label>
          <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" name="status">
              {% if sepeda.0.status %}
                  <option selected value="1">Tersedia</option>
                  <option  value="0">Tidak Tersedia</option>
                {% else %}
                  <option selected value="0">Tidak Tersedia</option>
                  <option  value="1">Tersedia</option>
              {% endif %}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="usr">stasiun:</label>
          <div class="input-group mb-3">
            <select
              class="custom-select"
              id="inputGroupSelect01"
              name="stasiun"
            >
              <option selected value="{{ sepeda.0.id_stasiun}}">{{ sepeda.0.nama_st }}</option>
              {% for station in stations %}
              <option value="{{ station.id_stasiun }}">
                {{ station.nama }}</option
              >
               {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="usr">penyumbang:</label>
          <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" name="penyumbang">
              <option selected value={{ anggota.no_kartu }}> {{ anggota. }}</option>
              {% for anggota in anggotas %}
                  {% if anggota.no_kartu == sepeda.0.no_kartu_penyumbang %}
                    <option selected value={{ anggota.no_kartu }}> {{ anggota.nama }}</option>
                  {% endif %}
                  <option value={{ anggota.no_kartu }}> {{ anggota.nama }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <span> <button class="btn btn-primary">Save</button> </span>
        <span> <button class="btn btn-danger"> <a href="/sepeda/delete/{{ sepeda.0.nomor }}">Delete</a> </button> </span>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
